## Reading files

In [1]:
__imp

The libraries have been loaded!

In [2]:
item_categories = pd.read_csv("./item_categories.csv")
items = pd.read_csv("./items.csv")
shops= pd.read_csv("./shops.csv")
train = pd.read_csv('./sales_train.csv.gz', compression='gzip')
test = pd.read_csv("./test.csv.gz", compression = "gzip")

In [3]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [4]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [5]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [6]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [7]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [8]:
train.tail()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
2935844,10.10.2015,33,25,7409,299.0,1.0
2935845,09.10.2015,33,25,7460,299.0,1.0
2935846,14.10.2015,33,25,7459,349.0,1.0
2935847,22.10.2015,33,25,7440,299.0,1.0
2935848,03.10.2015,33,25,7460,299.0,1.0

In [9]:
train.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [10]:
import math

In [11]:
train['item_price_whole'] = train['item_price'].apply(lambda x : math.modf(x)[1])

In [12]:
train['item_price_fraction'] = train['item_price'].apply(lambda x : math.modf(x)[0])*100

In [13]:
train.shape

(2935849, 8)

In [14]:
train['date_new']=pd.to_datetime(train['date'], format = "%d.%m.%Y")

In [15]:
train.sort_index(by=['shop_id', 'item_id','date_new'])

/users/a115505/.conda/envs/DL/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new
173349,15.02.2013,1,0,30,265.00,2.0,265.0,0.0,2013-02-15
173348,16.02.2013,1,0,30,265.00,9.0,265.0,0.0,2013-02-16
173347,17.02.2013,1,0,30,265.00,4.0,265.0,0.0,2013-02-17
173346,18.02.2013,1,0,30,265.00,4.0,265.0,0.0,2013-02-18
173345,20.02.2013,1,0,30,265.00,2.0,265.0,0.0,2013-02-20
173344,21.02.2013,1,0,30,265.00,2.0,265.0,0.0,2013-02-21
173361,22.02.2013,1,0,30,265.00,2.0,265.0,0.0,2013-02-22
173402,23.02.2013,1,0,30,265.00,3.0,265.0,0.0,2013-02-23
173441,26.02.2013,1,0,30,265.00,3.0,265.0,0.0,2013-02-26
173403,15.02.2013,1,0,31,434.00,3.0,434.0,0.0,2013-02-15
173459,16.02.2013,1,0,31,434.00,1.0,434.0,0.0,2013-02-16
173458,17.02.2013,1,0,31,434.00,3.0,434.0,0.0,2013-02-17
173457,22.02.2013,1,0,31,434.00,1.0,434.0,0.0,2013-02-22
173456,24.02.2013,1,0,31,434.00,1.0,434.0,0.0,2013-02-24
173455,25.02.2013,1,0,31,434.00,1.0,434.0,0.0,2013-02-25
173454,26.02.2013,1,0,31,434.00,1.0,434.0,0.0,2013-02-26
40085,03.01.2013,0,0,32,221.00,2.0,221.0,0.0,2013-01-03
40086,21.01.2013,0,0,32,221.00,2.0,221.0,0.0,2013-01-21
40087,25.01.2013,0,0,32,221.00,1.0,221.0,0.0,2013-01-25
40088,31.01.2013,0,0,32,221.00,1.0,221.0,0.0,2013-01-31
173453,05.02.2013,1,0,32,221.00,1.0,221.0,0.0,2013-02-05
173460,06.02.2013,1,0,32,221.00,1.0,221.0,0.0,2013-02-06
173452,12.02.2013,1,0,32,221.00,2.0,221.0,0.0,2013-02-12
173450,15.02.2013,1,0,32,221.00,1.0,221.0,0.0,2013-02-15
173449,16.02.2013,1,0,32,221.00,2.0,221.0,0.0,2013-02-16
173448,22.02.2013,1,0,32,221.00,2.0,221.0,0.0,2013-02-22
173447,25.02.2013,1,0,32,221.00,1.0,221.0,0.0,2013-02-25
40089,03.01.2013,0,0,33,347.00,1.0,347.0,0.0,2013-01-03
40090,17.01.2013,0,0,33,347.00,1.0,347.0,0.0,2013-01-17
40091,28.01.2013,0,0,33,347.00,1.0,347.0,0.0,2013-01-28
...,...,...,...,...,...,...,...,...,...
342905,30.03.2013,2,59,22151,399.00,1.0,399.0,0.0,2013-03-30
1895940,28.08.2014,19,59,22153,135.33,1.0,135.0,33.0,2014-08-28
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02
704965,11.07.2013,6,59,22155,149.00,1.0,149.0,0.0,2013-07-11
2435401,09.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-09
2435402,13.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-13
2435403,14.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-14
2435404,15.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-15
2435405,16.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-16
2435406,17.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-17
2435407,19.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-19
2435408,22.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-22
2435409,24.02.2015,25,59,22162,399.00,1.0,399.0,0.0,2015-02-24
2507082,01.03.2015,26,59,22162,399.00,1.0,399.0,0.0,2015-03-01
2507083,07.03.2015,26,59,22162,399.00,1.0,399.0,0.0,2015-03-07
2507084,22.03.2015,26,59,22162,399.00,1.0,399.0,0.0,2015-03-22
2549354,26.03.2015,26,59,22162,399.00,1.0,399.0,0.0,2015-03-26
2593333,17.04.2015,27,59,22162,349.00,1.0,349.0,0.0,2015-04-17
2651142,29.05.2015,28,59,22162,349.00,1.0,349.0,0.0,2015-05-29
2799748,11.08.2015,31,59,22162,349.00,1.0,349.0,0.0,2015-08-11
2471552,11.02.2015,25,59,22164,749.00,1.0,749.0,0.0,2015-02-11
2483751,13.02.2015,25,59,22164,749.00,1.0,749.0,0.0,2015-02-13
2553728,29.03.2015,26,59,22164,749.00,1.0,749.0,0.0,2015-03-29
2593342,22.04.2015,27,59,22164,699.00,1.0,699.0,0.0,2015-04-22
2593334,30.04.2015,27,59,22164,699.00,1.0,699.0,0.0,2015-04-30
2724674,21.07.2015,30,59,22164,699.00,1.0,699.0,0.0,2015-07-21
996180,25.10.2013,9,59,22167,299.00,1.0,299.0,0.0,2013-10-25
1219809,03.12.2013,11,59,22167,299.00,1.0,299.0,0.0,2013-12-03
1219808,14.12.2013,11,59,22167,299.00,1.0,299.0,0.0,2013-12-14
1719730,14.06.2014,17,59,22167,299.00,1.0,299.0,0.0,2014-06-14

In [16]:
train = train.drop_duplicates()

In [17]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15

In [18]:
train.tail()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new
2935844,10.10.2015,33,25,7409,299.0,1.0,299.0,0.0,2015-10-10
2935845,09.10.2015,33,25,7460,299.0,1.0,299.0,0.0,2015-10-09
2935846,14.10.2015,33,25,7459,349.0,1.0,349.0,0.0,2015-10-14
2935847,22.10.2015,33,25,7440,299.0,1.0,299.0,0.0,2015-10-22
2935848,03.10.2015,33,25,7460,299.0,1.0,299.0,0.0,2015-10-03

In [22]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [23]:
train['Month'] = train['date_new'].dt.month
train['Year'] = train['date_new'].dt.year

In [24]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new,Month,Year
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02,1,2013
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03,1,2013
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05,1,2013
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06,1,2013
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15,1,2013

###   Aggregating given data by shop id, item id , year and Month for machine learning - Test data set consists of only shop id and item id.

In [25]:
Temp_Agg1 = train.groupby(['shop_id', 'item_id','Year','Month']).agg(['sum'])['item_cnt_day']

In [27]:
Temp_Agg1= Temp_Agg1.reset_index()

In [28]:
Temp_Agg1.head()

   shop_id  item_id  Year  Month   sum
0        0       30  2013      2  31.0
1        0       31  2013      2  11.0
2        0       32  2013      1   6.0
3        0       32  2013      2  10.0
4        0       33  2013      1   3.0

In [43]:
Temp_Agg1.head()

   shop_id  item_id  Year  Month   sum
0        0       30  2013      2  31.0
1        0       31  2013      2  11.0
2        0       32  2013      1   6.0
3        0       32  2013      2  10.0
4        0       33  2013      1   3.0

### Count of Rows in each Year - Month

In [47]:
Temp_Agg1.groupby(['Year','Month']).agg(['count'])['shop_id']

            count
Year Month
2013 1      63224
     2      59935
     3      63977
     4      54638
     5      53296
     6      56196
     7      58035
     8      58022
     9      51575
     10     51090
     11     51460
     12     66276
2014 1      53320
     2      47704
     3      49291
     4      44740
     5      45766
     6      46481
     7      45756
     8      46439
     9      40423
     10     42595
     11     45755
     12     59275
2015 1      46775
     2      41390
     3      40464
     4      32875
     5      32220
     6      31909
     7      33527
     8      33486
     9      29678
     10     31531

### Count of distinct months in each year

In [49]:
Temp_Agg1.groupby('Year').agg({'Month':pd.Series.nunique})

      Month
Year
2013     12
2014     12
2015     10

###  Converting time series data to Random Forest ready Data Frame  with Pivot

In [74]:
Temp_Pivot1 = pd.pivot_table(Temp_Agg1, values='sum', columns=['Year','Month'], index =['shop_id','item_id'],fill_value=0)

In [75]:
Temp_Pivot1.head()

Year            2013                             ... 2015                    \
Month             1   2  3  4  5  6  7  8  9  10 ...   1  2  3  4  5  6  7
shop_id item_id                                  ...
0       30         0  31  0  0  0  0  0  0  0  0 ...    0  0  0  0  0  0  0
        31         0  11  0  0  0  0  0  0  0  0 ...    0  0  0  0  0  0  0
        32         6  10  0  0  0  0  0  0  0  0 ...    0  0  0  0  0  0  0
        33         3   3  0  0  0  0  0  0  0  0 ...    0  0  0  0  0  0  0
        35         1  14  0  0  0  0  0  0  0  0 ...    0  0  0  0  0  0  0

Year
Month           8  9  10
shop_id item_id
0       30       0  0  0
        31       0  0  0
        32       0  0  0
        33       0  0  0
        35       0  0  0

[5 rows x 34 columns]

In [76]:
# my_colnames = []
# for i, a in enumerate(Temp_Pivot1.columns.get_level_values(1)):
#     my_colnames.append(str(a) + "_"+str(Temp_Pivot1.columns.get_level_values(0)[i]))

In [77]:
### Renaming pivot columns 
Temp_Pivot1.reset_index(inplace=True)
Temp_Pivot1.columns = [str(col[0])+"_"+str(col[1]) for col in Temp_Pivot1.columns.values]

In [78]:
Temp_Pivot1.head()

,shop_id_,item_id_,2013_1,2013_2,2013_3,2013_4,2013_5,2013_6,2013_7,2013_8,...,2015_1,2015_2,2015_3,2015_4,2015_5,2015_6,2015_7,2015_8,2015_9,2015_10
0,0,30,0,31,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,31,0,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,32,6,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,33,3,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,35,1,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
Temp_Pivot1.shape

(424124, 36)

##### Saving data in hdf5 format

In [82]:
# compressors = ['blosc', 'bzip2', 'zlib']
Temp_Pivot1.to_hdf("./Temp_Pivot1.h5", 'table', complelvel=9, complib='zlib')

##  Now the dataframe is in correct format. Next step is to split into train and test. There are 34 months of data. I will use last 5 months for testing. i.e 2015/Jun to 2015/Oct.

Below steps are to split into train and test
In Trial 1 - I will try to predict 2015/Jun Sales for each shop_id and item_id

In [92]:
years =['2013','2014', '2015']
months = np.arange(1,13)

In [88]:
train_cols=['shop_id','item_id']
test_cols=['shop_id','item_id']

In [98]:
for year in years:
    for month in months:
        print(year, month)
        if(year ==2015 &  month in (6,7,8,9,10)):
            print("in test")
        else:
            print("in test", year, month)

2013 1
in test 2013 1
2013 2
in test 2013 2
2013 3
in test 2013 3
2013 4
in test 2013 4
2013 5
in test 2013 5
2013 6
in test 2013 6
2013 7
in test 2013 7
2013 8
in test 2013 8
2013 9
in test 2013 9
2013 10
in test 2013 10
2013 11
in test 2013 11
2013 12
in test 2013 12
2014 1
in test 2014 1
2014 2
in test 2014 2
2014 3
in test 2014 3
2014 4
in test 2014 4
2014 5
in test 2014 5
2014 6
in test 2014 6
2014 7
in test 2014 7
2014 8
in test 2014 8
2014 9
in test 2014 9
2014 10
in test 2014 10
2014 11
in test 2014 11
2014 12
in test 2014 12
2015 1
in test 2015 1
2015 2
in test 2015 2
2015 3
in test 2015 3
2015 4
in test 2015 4
2015 5
in test 2015 5
2015 6
in test 2015 6
2015 7
in test 2015 7
2015 8
in test 2015 8
2015 9
in test 2015 9
2015 10
in test 2015 10
2015 11
in test 2015 11
2015 12
in test 2015 12

In [93]:
months

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
holidays = ['01-01-2013','01-02-2013','01-03-2013','01-04-2013','01-07-2013', '01-01-2013' ]

In [18]:
train.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'item_price_whole', 'item_price_fraction', 'date_new'],
      dtype='object')

In [20]:
train.dtypes

date                           object
date_block_num                  int64
shop_id                         int64
item_id                         int64
item_price                    float64
item_cnt_day                  float64
item_price_whole              float64
item_price_fraction           float64
date_new               datetime64[ns]
dtype: object

In [25]:
train['Weekday'] =  train['date_new'].map(lambda x :x.weekday_name)

In [23]:
agg_tmp = train.groupby(['shop_id', 'item_id']).agg(['count'])['date']

In [24]:
agg_tmp.reset_index(inplace=True)

In [25]:
agg_tmp.columns = ['shop_id','item_id','no_of_rows']

In [27]:
agg_tmp_mean = train.groupby(['shop_id', 'item_id']).agg(['mean', 'median', 'min', 'max'])[['item_cnt_day', 'item_price']].reset_index()

In [28]:
agg_tmp_mean.columns

MultiIndex(levels=[['date_block_num', 'item_price', 'item_cnt_day', 'item_id', 'shop_id'], ['mean', 'median', 'min', 'max', '']],
           labels=[[4, 3, 2, 2, 2, 2, 1, 1, 1, 1], [4, 4, 0, 1, 2, 3, 0, 1, 2, 3]])

In [29]:
agg_tmp_mean.columns= [''.join(col).strip() for col in agg_tmp_mean.columns.values]

In [30]:
agg_tmp_mean.head()

,shop_id,item_id,item_cnt_daymean,item_cnt_daymedian,item_cnt_daymin,item_cnt_daymax,item_pricemean,item_pricemedian,item_pricemin,item_pricemax
0,0,30,3.444444,3.0,2.0,9.0,265.0,265.0,265.0,265.0
1,0,31,1.571429,1.0,1.0,3.0,434.0,434.0,434.0,434.0
2,0,32,1.454545,1.0,1.0,2.0,221.0,221.0,221.0,221.0
3,0,33,1.000000,1.0,1.0,1.0,347.0,347.0,347.0,347.0
4,0,35,1.250000,1.0,1.0,2.0,247.0,247.0,247.0,247.0

In [35]:
agg_tmp_mean['item_pricemedian'] - agg_tmp_mean['item_pricemax']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10         -3.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21         -5.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
          ...
424094      0.0
424095    -40.0
424096    -40.0
424097    -70.0
424098    -70.0
424099      0.0
424100      0.0
424101      0.0
424102   -100.0
424103      0.0
424104   -160.5
424105      0.0
424106      0.0
424107    -50.0
424108      0.0
424109      0.0
424110      0.0
424111   -100.0
424112      0.0
424113      0.0
424114      0.0
424115      0.0
424116      0.0
424117      0.0
424118      0.0
424119      0.0
424120      0.0
424121      0.0
424122    -25.0
424123      0.0
Length: 424124, dtype: float64

In [34]:
agg_df = pd.merge(agg_tmp, agg_tmp_mean, how= 'inner', on=['shop_id','item_id'])

In [48]:
agg_df.shape

(424124, 5)

In [49]:
# train['day_of_week'] = train['date_new'].dt.weekday_name
train['day_of_week'] = train['date_new'].dt.dayofweek

In [50]:
train['Month'] = train['date_new'].dt.month
train['Week'] = train['date_new'].dt.week

In [51]:
train_item = pd.merge(train, items, how='left', on ='item_id')

In [52]:
train_item.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new,day_of_week,Month,Week,item_name,item_category_id
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02,2,1,1,ЯВЛЕНИЕ 2012 (BD),37
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03,3,1,1,DEEP PURPLE The House Of Blue Light LP,58
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05,5,1,1,DEEP PURPLE The House Of Blue Light LP,58
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06,6,1,1,DEEP PURPLE Who Do You Think We Are LP,58
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15,1,1,3,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56

In [53]:
train_item_shop = pd.merge(train_item, shops, how ='left',on='shop_id')

In [54]:
train_item_shop.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new,day_of_week,Month,Week,item_name,item_category_id,shop_name
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02,2,1,1,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир"""
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03,3,1,1,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум"""
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05,5,1,1,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум"""
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06,6,1,1,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум"""
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15,1,1,3,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум"""

In [55]:
train_item_shop_categories = pd.merge(train_item_shop, item_categories, how ='left',on='item_category_id')

In [56]:
train_item_shop_categories.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new,day_of_week,Month,Week,item_name,item_category_id,shop_name,item_category_name
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02,2,1,1,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03,3,1,1,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05,5,1,1,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06,6,1,1,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум""",Музыка - Винил
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15,1,1,3,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства

In [30]:
train_item_shop_categories['item_category_name'].unique()

array(['Кино - Blu-Ray', 'Музыка - Винил',
       'Музыка - CD фирменного производства', 'Музыка - Музыкальное видео',
       'Музыка - CD локального производства', 'Игры - XBOX 360',
       'Игры - PS3', 'Игры PC - Дополнительные издания',
       'Игры PC - Стандартные издания', 'Игры - PSP', 'Кино - DVD',
       'Программы - Для дома и офиса', 'Книги - Методические материалы 1С',
       'Игры PC - Коллекционные издания', 'Игры - PSVita',
       'Подарки - Развитие', 'Программы - 1С:Предприятие 8',
       'Программы - Обучающие', 'Музыка - MP3',
       'Музыка - Подарочные издания', 'Аксессуары - PSP',
       'Подарки - Гаджеты, роботы, спорт', 'Книги - Аудиокниги',
       'Игровые консоли - XBOX 360', 'Аксессуары - PS3',
       'Аксессуары - PS4', 'Аксессуары - PSVita',
       'Подарки - Сертификаты, услуги', 'Карты оплаты - PSN',
       'Карты оплаты - Live!', 'Аксессуары - XBOX 360',
       'Кино - Blu-Ray 3D', 'Игры - Аксессуары для игр',
       'Игровые консоли - PSVita', 'Книги - Аудиокниги 1С',
       'Кино - Коллекционное', 'Подарки - Открытки, наклейки',
       'Игровые консоли - PS3', 'Подарки - Сувениры',
       'Подарки - Настольные игры (компактные)',
       'Чистые носители (штучные)', 'Чистые носители (шпиль)',
       'Подарки - Настольные игры', 'Служебные',
       'Подарки - Мягкие игрушки', 'PC - Гарнитуры/Наушники',
       'Подарки - Сувениры (в навеску)', 'Игровые консоли - PSP',
       'Элементы питания', 'Подарки - Фигурки', 'Подарки - Атрибутика',
       'Подарки - Сумки, Альбомы, Коврики д/мыши', 'Игры - PS2',
       'Доставка товара', 'Книги - Бизнес литература', 'Аксессуары - PS2',
       'Книги - Компьютерная литература', 'Игровые консоли - PS2',
       'Игры PC - Цифра', 'Программы - Для дома и офиса (Цифра)',
       'Программы - Обучающие (Цифра)', 'Книги - Цифра',
       'Книги - Аудиокниги (Цифра)', 'Книги - Путеводители',
       'Карты оплаты (Кино, Музыка, Игры)', 'Кино - Blu-Ray 4K',
       'Книги - Художественная литература', 'Игровые консоли - PS4',
       'Игры - PS4', 'Игровые консоли - Прочие', 'Билеты (Цифра)',
       'Игровые консоли - XBOX ONE', 'Книги - Познавательная литература',
       'Карты оплаты - Live! (Цифра)', 'Игры - XBOX ONE',
       'Аксессуары - XBOX ONE', 'Программы - MAC (Цифра)',
       'Игры Android - Цифра', 'Игры MAC - Цифра',
       'Книги - Комиксы, манга', 'Книги - Открытки',
       'Книги - Артбуки, энциклопедии', 'Служебные - Билеты',
       'Карты оплаты - Windows (Цифра)'], dtype=object)

In [57]:
train_item_shop_categories['item_name_codes'] = train_item_shop_categories.item_name.astype('category').cat.codes

In [58]:
train_item_shop_categories['shop_name_codes'] = train_item_shop_categories.shop_name.astype('category').cat.codes
train_item_shop_categories['item_category_name_codes'] = train_item_shop_categories.item_category_name.astype('category').cat.codes

In [88]:
train_item_shop_categories['date_new'].min()

Timestamp('2013-01-01 00:00:00')

In [89]:

train_item_shop_categories['date_new'].max()

Timestamp('2015-10-31 00:00:00')

In [59]:
train_item_shop_categories.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new,day_of_week,Month,Week,item_name,item_category_id,shop_name,item_category_name,item_name_codes,shop_name_codes,item_category_name_codes
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02,2,1,1,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray,21791,59,37
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03,3,1,1,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил,2495,25,58
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05,5,1,1,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил,2495,25,58
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06,6,1,1,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум""",Музыка - Винил,2497,25,58
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15,1,1,3,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства,2498,25,56

In [60]:
train_item_shop_categories_agg = pd.merge(train_item_shop_categories, agg_df, how ='left',on=['shop_id','item_id'])

In [61]:
train_item_shop_categories_agg.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_price_whole,item_price_fraction,date_new,day_of_week,...,item_name,item_category_id,shop_name,item_category_name,item_name_codes,shop_name_codes,item_category_name_codes,no_of_rows,item_cnt_daymean,item_pricemean
0,02.01.2013,0,59,22154,999.00,1.0,999.0,0.0,2013-01-02,2,...,ЯВЛЕНИЕ 2012 (BD),37,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray,21791,59,37,1,1.0,999.00
1,03.01.2013,0,25,2552,899.00,1.0,899.0,0.0,2013-01-03,3,...,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил,2495,25,58,2,0.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,899.0,0.0,2013-01-05,5,...,DEEP PURPLE The House Of Blue Light LP,58,"Москва ТРК ""Атриум""",Музыка - Винил,2495,25,58,2,0.0,899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.0,5.0,2013-01-06,6,...,DEEP PURPLE Who Do You Think We Are LP,58,"Москва ТРК ""Атриум""",Музыка - Винил,2497,25,58,1,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.0,0.0,2013-01-15,1,...,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства,2498,25,56,10,1.0,1104.00

In [90]:
Cleaned_Train = train_item_shop_categories_agg[['date_new','date_block_num','shop_id','item_id','item_price','item_price_whole','item_price_fraction','day_of_week','Month','Week',
                       'item_name_codes','item_category_id','shop_name_codes','item_category_name_codes','item_cnt_day',
                                           'no_of_rows', 'item_cnt_daymean', 'item_pricemean']]

In [91]:
Cleaned_Train.head()

,date_new,date_block_num,shop_id,item_id,item_price,item_price_whole,item_price_fraction,day_of_week,Month,Week,item_name_codes,item_category_id,shop_name_codes,item_category_name_codes,item_cnt_day,no_of_rows,item_cnt_daymean,item_pricemean
0,2013-01-02,0,59,22154,999.00,999.0,0.0,2,1,1,21791,37,59,37,1.0,1,1.0,999.00
1,2013-01-03,0,25,2552,899.00,899.0,0.0,3,1,1,2495,58,25,58,1.0,2,0.0,899.00
2,2013-01-05,0,25,2552,899.00,899.0,0.0,5,1,1,2495,58,25,58,-1.0,2,0.0,899.00
3,2013-01-06,0,25,2554,1709.05,1709.0,5.0,6,1,1,2497,58,25,58,1.0,1,1.0,1709.05
4,2013-01-15,0,25,2555,1099.00,1099.0,0.0,1,1,3,2498,56,25,56,1.0,10,1.0,1104.00

In [65]:
# Cleaned_Train['Tmp']=Cleaned_Train['shop_name_codes'].apply(lambda x :bin(x))
# print(Cleaned_Train.Tmp.map(len).max())

In [95]:
Cleaned_Train.head()

,date_new,date_block_num,shop_id,item_id,item_price,item_price_whole,item_price_fraction,day_of_week,Month,Week,item_name_codes,item_category_id,shop_name_codes,item_category_name_codes,item_cnt_day,no_of_rows,item_cnt_daymean,item_pricemean
0,2013-01-02,0,59,22154,999.00,999.0,0.0,2,1,1,21791,37,59,37,1.0,1,1.0,999.00
1,2013-01-03,0,25,2552,899.00,899.0,0.0,3,1,1,2495,58,25,58,1.0,2,0.0,899.00
2,2013-01-05,0,25,2552,899.00,899.0,0.0,5,1,1,2495,58,25,58,-1.0,2,0.0,899.00
3,2013-01-06,0,25,2554,1709.05,1709.0,5.0,6,1,1,2497,58,25,58,1.0,1,1.0,1709.05
4,2013-01-15,0,25,2555,1099.00,1099.0,0.0,1,1,3,2498,56,25,56,1.0,10,1.0,1104.00

In [92]:
Cleaned_Train.describe()

,date_block_num,shop_id,item_id,item_price,item_price_whole,item_price_fraction,day_of_week,Month,Week,item_name_codes,item_category_id,shop_name_codes,item_category_name_codes,item_cnt_day,no_of_rows,item_cnt_daymean,item_pricemean
count,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06,2.935843e+06
mean,1.456991e+01,3.300171e+01,1.019723e+04,8.908535e+02,8.908228e+02,3.064652e+00,3.365684e+00,6.247719e+00,2.485820e+01,1.001591e+04,4.000141e+01,3.300171e+01,4.000141e+01,1.242641e+00,4.250484e+01,1.242641e+00,8.908535e+02
std,9.422992e+00,1.622698e+01,6.324293e+03,1.729801e+03,1.729803e+03,1.296125e+01,1.996795e+00,3.536219e+00,1.543837e+01,6.222942e+03,1.710076e+01,1.622698e+01,1.710076e+01,2.618837e+00,8.754661e+01,1.193642e+00,1.709852e+03
min,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.200000e+01,1.000000e+00,-1.750000e+00,9.000000e-02
25%,7.000000e+00,2.200000e+01,4.476000e+03,2.490000e+02,2.490000e+02,0.000000e+00,2.000000e+00,3.000000e+00,1.100000e+01,4.389000e+03,2.800000e+01,2.200000e+01,2.800000e+01,1.000000e+00,6.000000e+00,1.000000e+00,2.553779e+02
50%,1.400000e+01,3.100000e+01,9.343000e+03,3.990000e+02,3.990000e+02,0.000000e+00,4.000000e+00,6.000000e+00,2.400000e+01,9.158000e+03,4.000000e+01,3.100000e+01,4.000000e+01,1.000000e+00,1.600000e+01,1.037037e+00,4.143125e+02
75%,2.300000e+01,4.700000e+01,1.568400e+04,9.990000e+02,9.990000e+02,0.000000e+00,5.000000e+00,9.000000e+00,3.800000e+01,1.540200e+04,5.500000e+01,4.700000e+01,5.500000e+01,1.000000e+00,4.200000e+01,1.200000e+00,9.896805e+02
max,3.300000e+01,5.900000e+01,2.216900e+04,3.079800e+05,3.079800e+05,9.975000e+01,6.000000e+00,1.200000e+01,5.200000e+01,2.180600e+04,8.300000e+01,5.900000e+01,8.300000e+01,2.169000e+03,8.670000e+02,6.666667e+02,3.079800e+05

In [93]:
# Cleaned_Train['New_ID'] = Cleaned_Train['item_id'].apply(lambda x :str(x)[0:1])

In [94]:
Cleaned_Train.isnull().values.any()

False

In [69]:
y= Cleaned_Train['item_cnt_day']
X = Cleaned_Train.drop(['item_cnt_day'],axis=1)

In [70]:
X.columns

Index(['date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_price_whole', 'item_price_fraction', 'day_of_week', 'Month',
       'Week', 'item_name_codes', 'item_category_id', 'shop_name_codes',
       'item_category_name_codes', 'no_of_rows', 'item_cnt_daymean',
       'item_pricemean'],
      dtype='object')

In [71]:
X.head()

,date_block_num,shop_id,item_id,item_price,item_price_whole,item_price_fraction,day_of_week,Month,Week,item_name_codes,item_category_id,shop_name_codes,item_category_name_codes,no_of_rows,item_cnt_daymean,item_pricemean
0,0,59,22154,999.00,999.0,0.0,2,1,1,21791,37,59,37,1,1.0,999.00
1,0,25,2552,899.00,899.0,0.0,3,1,1,2495,58,25,58,2,0.0,899.00
2,0,25,2552,899.00,899.0,0.0,5,1,1,2495,58,25,58,2,0.0,899.00
3,0,25,2554,1709.05,1709.0,5.0,6,1,1,2497,58,25,58,1,1.0,1709.05
4,0,25,2555,1099.00,1099.0,0.0,1,1,3,2498,56,25,56,10,1.0,1104.00

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)

In [74]:
from sklearn.ensemble import RandomForestRegressor

In [75]:
# regr = RandomForestRegressor(max_depth=2, random_state=121)

regr = RandomForestRegressor(n_estimators=40, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)

In [76]:
regr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=0.5, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=-1,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

In [77]:
predictions = regr.predict(X_train)

In [78]:
Compare = pd.DataFrame(np.column_stack((y_train.values,predictions)))

In [79]:
Compare.columns =['Actual','Predict']

In [80]:
Compare.head()

   Actual   Predict
0     1.0  1.000000
1     4.0  3.815625
2     1.0  0.961905
3     1.0  1.075794
4     1.0  1.000000

In [81]:
from sklearn.metrics import mean_squared_error

In [82]:
np.sqrt(mean_squared_error(y_train.values, predictions))

1.3048781415138391

In [83]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())
def mae(x,y): return (abs(x-y)).mean()

def print_score_rmse(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)
    
    
def print_score_mae(m):
    res = [mae(m.predict(X_train), y_train), mae(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [84]:
print_score_rmse(regr)

[1.306144444395462, 3.0697683085913483, 0.67784392422501805, 0.28326548204007962, 0.39226674449247689]

In [85]:
regr.feature_importances_

array([ 0.05885319,  0.01604829,  0.01619247,  0.09798267,  0.05490913,
        0.07395362,  0.07637116,  0.03308124,  0.11771762,  0.02098273,
        0.01187258,  0.01810737,  0.01211217,  0.07650834,  0.26800116,
        0.04730628])

In [86]:
def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)

In [87]:
fi = rf_feat_importance(regr, X_train); fi[:20]

                        cols       imp
14          item_cnt_daymean  0.268001
8                       Week  0.117718
3                 item_price  0.097983
13                no_of_rows  0.076508
6                day_of_week  0.076371
5        item_price_fraction  0.073954
0             date_block_num  0.058853
4           item_price_whole  0.054909
15            item_pricemean  0.047306
7                      Month  0.033081
9            item_name_codes  0.020983
11           shop_name_codes  0.018107
2                    item_id  0.016192
1                    shop_id  0.016048
12  item_category_name_codes  0.012112
10          item_category_id  0.011873

## Time based split of data

In [96]:
Train = Cleaned_Train [Cleaned_Train['date_new']< '2015-01-01']

In [97]:
Train.shape

(2323417, 18)

In [98]:
Validation = Cleaned_Train [Cleaned_Train['date_new'] >= '2015-01-01']

In [99]:
Validation.shape

(612426, 18)

In [100]:
y_train= Train['item_cnt_day']
X_train = Train.drop(['item_cnt_day', 'date_new'],axis=1)

y_validation= Validation['item_cnt_day']
X_validation = Validation.drop(['item_cnt_day','date_new'],axis=1)

In [101]:
regr2 = RandomForestRegressor(n_estimators=40, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
regr2.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=0.5, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=-1,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

In [102]:
print_score_rmse(regr2)

[1.077866538444896, 3.1046960855474373, 0.69729179475879566, 0.26685070309852943, 0.44115560058272951]

In [103]:
fi = rf_feat_importance(regr2, X_train); fi[:20]

                        cols       imp
14          item_cnt_daymean  0.304215
8                       Week  0.129487
6                day_of_week  0.083103
13                no_of_rows  0.073756
3                 item_price  0.068077
15            item_pricemean  0.065286
4           item_price_whole  0.052078
5        item_price_fraction  0.051604
0             date_block_num  0.048887
7                      Month  0.033616
11           shop_name_codes  0.019032
1                    shop_id  0.018326
2                    item_id  0.017140
9            item_name_codes  0.016868
10          item_category_id  0.009853
12  item_category_name_codes  0.008673

## Time based split of data with mean encoding based on day and week

In [105]:
Train.head()

,date_new,date_block_num,shop_id,item_id,item_price,item_price_whole,item_price_fraction,day_of_week,Month,Week,item_name_codes,item_category_id,shop_name_codes,item_category_name_codes,item_cnt_day,no_of_rows,item_cnt_daymean,item_pricemean
0,2013-01-02,0,59,22154,999.00,999.0,0.0,2,1,1,21791,37,59,37,1.0,1,1.0,999.00
1,2013-01-03,0,25,2552,899.00,899.0,0.0,3,1,1,2495,58,25,58,1.0,2,0.0,899.00
2,2013-01-05,0,25,2552,899.00,899.0,0.0,5,1,1,2495,58,25,58,-1.0,2,0.0,899.00
3,2013-01-06,0,25,2554,1709.05,1709.0,5.0,6,1,1,2497,58,25,58,1.0,1,1.0,1709.05
4,2013-01-15,0,25,2555,1099.00,1099.0,0.0,1,1,3,2498,56,25,56,1.0,10,1.0,1104.00

In [109]:
agg_tmp = Train.groupby(['Week', 'day_of_week', 'shop_id', 'item_id']).agg(['count'])['date_new'].reset_index()
agg_tmp_mean = Train.groupby(['Week', 'day_of_week', 'shop_id', 'item_id']).agg(['mean'])[['item_cnt_day', 'item_price']].reset_index()

In [110]:
agg_tmp.head()

   Week  day_of_week  shop_id  item_id  count
0     1            0        2     1407      1
1     1            0        2     1467      1
2     1            0        2     1483      1
3     1            0        2     1485      1
4     1            0        2     1495      1

In [111]:
agg_tmp_mean.head()

  Week day_of_week shop_id item_id item_cnt_day item_price
                                           mean       mean
0    1           0       2    1407          4.0    1299.00
1    1           0       2    1467          1.0     899.00
2    1           0       2    1483          1.0    1199.00
3    1           0       2    1485          1.0    1191.16
4    1           0       2    1495          1.0     599.00

In [112]:
agg_tmp_mean.columns= [''.join(col).strip() for col in agg_tmp_mean.columns.values]

In [115]:
agg_tmp_mean.columns=['Week', 'day_of_week', 'shop_id', 'item_id', 'item_cnt_daymean_new',
       'item_pricemean_new']

In [117]:
agg_tmp.columns=['Week', 'day_of_week', 'shop_id', 'item_id', 'count_new']

In [119]:
final_agg = pd.merge(agg_tmp,agg_tmp_mean, how ='inner', on = ['Week', 'day_of_week','shop_id', 'item_id'])

In [120]:
final_agg.head()

,Week,day_of_week,shop_id,item_id,count_new,item_cnt_daymean_new,item_pricemean_new
0,1,0,2,1407,1,4.0,1299.00
1,1,0,2,1467,1,1.0,899.00
2,1,0,2,1483,1,1.0,1199.00
3,1,0,2,1485,1,1.0,1191.16
4,1,0,2,1495,1,1.0,599.00

In [121]:
New_Cleaned_Train = pd.merge(Cleaned_Train, final_agg, how ='left',on=['Week', 'day_of_week', 'shop_id','item_id'])

,date_new,date_block_num,shop_id,item_id,item_price,item_price_whole,item_price_fraction,day_of_week,Month,Week,...,item_category_id,shop_name_codes,item_category_name_codes,item_cnt_day,no_of_rows,item_cnt_daymean,item_pricemean,count_new,item_cnt_daymean_new,item_pricemean_new
0,2013-01-02,0,59,22154,999.00,999.0,0.0,2,1,1,...,37,59,37,1.0,1,1.0,999.00,1.0,1.0,999.00
1,2013-01-03,0,25,2552,899.00,899.0,0.0,3,1,1,...,58,25,58,1.0,2,0.0,899.00,1.0,1.0,899.00
2,2013-01-05,0,25,2552,899.00,899.0,0.0,5,1,1,...,58,25,58,-1.0,2,0.0,899.00,1.0,-1.0,899.00
3,2013-01-06,0,25,2554,1709.05,1709.0,5.0,6,1,1,...,58,25,58,1.0,1,1.0,1709.05,1.0,1.0,1709.05
4,2013-01-15,0,25,2555,1099.00,1099.0,0.0,1,1,3,...,56,25,56,1.0,10,1.0,1104.00,1.0,1.0,1099.00

In [123]:
New_Cleaned_Train.isnull().values.any()

True

In [133]:
New_Cleaned_Train.columns[New_Cleaned_Train.isnull().any()]

Index([], dtype='object')

In [132]:
New_Cleaned_Train.fillnana(0, inplace=True)

In [134]:
Train = New_Cleaned_Train [Cleaned_Train['date_new']< '2015-01-01']
Validation = New_Cleaned_Train [Cleaned_Train['date_new'] >= '2015-01-01']
y_train= Train['item_cnt_day']
X_train = Train.drop(['item_cnt_day', 'date_new'],axis=1)

y_valid= Validation['item_cnt_day']
X_valid= Validation.drop(['item_cnt_day','date_new'],axis=1)

regr3 = RandomForestRegressor(n_estimators=40, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
regr3.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=0.5, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=-1,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

In [136]:
predictions = regr3.predict(X_train)
Compare = pd.DataFrame(np.column_stack((y_train.values,predictions)))
Compare.columns =['Actual','Predict']
np.sqrt(mean_squared_error(y_train.values, predictions))

0.44658463192248837

In [135]:
print_score_rmse(regr3)

[0.44295471670827313, 4.422453662465342, 0.94886268618719294, -0.067569550702743175, 0.888137670060544]